<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List of Directors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/directorliststyle.css" th:href="@{/css/directorliststyle.css}" />
</head>

<body>

    <h1>Directors</h1>

    <div>
        <a class="btn btn-success add" href="/adddirector">Add a New Director</a>
        <a class="btn btn-success" href="/frontpage">Back to Frontpage</a>
    </div>

    <div class="content">

        <div class="content-container" th:each="director : ${directors}">

            <div>
                <span id="director" th:text="${director.name}"></span>
                <td><a class="btn btn-primary" th:href="@{/editdirector/{id}(id=${director.directorid})}">Edit</a></td>
                <td><a class="btn btn-danger" th:href="@{/deletedirector/{id}(id=${director.directorid})}"
                        onclick="return confirm('Are you sure? This also deletes associated movies.')">Delete</a></td>
            </div>

            <h2>Movies:</h2>

            <div th:each="movie : ${director.movies}">
                <li th:text="${movie.title}"></li>
            </div>

        </div>

    </div>

</body>

</html>